<div class="feedback-container">
  <h2>Feedbacks</h2>

  <mat-card class="feedback-container">
    <mat-card-title>Ajouter un commentaire</mat-card-title>
    <mat-card-content>
      <mat-form-field class="full-width">
        <textarea matInput [(ngModel)]="newFeedbackText" placeholder="Écrire un commentaire..."></textarea>
      </mat-form-field>
      <div class="actions">
        <button mat-raised-button color="primary" (click)="addFeedback()" [disabled]="!newFeedbackText.trim()">Ajouter</button>
      </div>
    </mat-card-content>
  </mat-card>
  
  <!-- Feedback List -->
  <div class="feedback-list">
    <div *ngIf="feedbacks.length === 0" class="no-feedback">
      Aucun feedback disponible pour cette session.
    </div>
    <ul>
      <li *ngFor="let feedback of feedbacks" class="feedback-item">
        <div class="user-avatar">
          <img *ngIf="feedback.avatarUrl; else defaultAvatar" [src]="feedback.avatarUrl" alt="Avatar" class="avatar-img">
          <ng-template #defaultAvatar>
            <mat-icon>account_circle</mat-icon>
          </ng-template>
        </div>
        <span class="user-name">{{ feedback.nom }}:</span>
        <span>{{ feedback.texte }}</span>

        <small class="date">{{ feedback.created_at | date:'short' }}</small>


        <button 
          *ngIf="feedback.candidatID === candidatData?.id" 
          (click)="feedback.id !== undefined && deleteFeedback(feedback.id)"
          
          class="delete-btn">
          Supprimer
        </button>
      </li>
    </ul>
  </div>


</div>


