<div class="container">
  <!-- Barre latérale -->
  <app-sidebar></app-sidebar>

  <!-- Contenu principal -->
  <div class="main-content">
      <div class="detail-cour-container">
          <!-- Indicateur de chargement -->
          <div *ngIf="isLoading" class="loading-spinner">
              <mat-spinner diameter="50"></mat-spinner>
              <p>Chargement en cours...</p>
          </div>

          <!-- Message d'erreur -->
<div *ngIf="errorMessage && iscandidat()" class="error-message">
  <mat-icon>error_outline</mat-icon>
  <p>{{ errorMessage }}</p>
</div>


          <!-- Détails du cours -->
          <mat-card *ngIf="cour && !isLoading" class="detail-card">
              <div class="header">
                  <mat-card-actions>
                      <button mat-raised-button color="primary" [routerLink]="['/session', cour.formationSessionID]">
                          <mat-icon>arrow_back</mat-icon> Retour à la liste
                      </button>
                  </mat-card-actions>
              </div>

              <mat-card-header>
                  <div class="header-content">
                      <mat-card-title>{{ cour.titre }}</mat-card-title>
                      <mat-card-subtitle>ID du cours : {{ cour.id }}</mat-card-subtitle>
                  </div>
              </mat-card-header>

              <mat-card-content>
                  <p><strong>Description :</strong> {{ cour.description }}</p>
                  <mat-card-content>
                    <video width="100%" controls (click)="onVideoClick($event)">
                        <source src="{{ cour.videoURL }}" type="video/mp4" />
                        Votre navigateur ne supporte pas la lecture de vidéos.
                      </video>
                  </mat-card-content>
              </mat-card-content>
          </mat-card>
          <div  *ngIf="iscandidat()">
            <div *ngIf="progression; else loading" >
              <mat-card class="progress-card">
                <mat-card-content>
                  <h2 class="progress-heading">Votre progression</h2>
          
                  <!-- MatProgressSpinner to display progression -->
                  <div class="spinner-container">
                    <mat-progress-spinner
                      class="progress-spinner"
                      [mode]="'determinate'"
                      [value]="progressionValue"
                      [strokeWidth]="5">
                    </mat-progress-spinner>
                    <div class="progress-value">{{ progressionValue }}%</div>
                  </div>
                  
      
                </mat-card-content>
              </mat-card>
            </div>
          
            <!-- Template for loading state -->
            <ng-template #loading>
              <div class="loading-container" *ngIf="iscandidat()">
                <mat-spinner></mat-spinner>
                <p>Chargement des données...</p>
              </div>
            </ng-template>
          </div>


      </div>




  </div>
</div>
